// 修改网页背景色
// body {
//     background-color: var(--background-color) !important;
// }
// 修改导航栏搜索框圆弧化
.search-box input {
    border-radius: 1.25rem !important;
}
// 博文 box 背景
.page-title,
.theme-reco-content {
    background-color: var(--background-color) !important;
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    border: solid 1px var(--border-color);
}
// 分离博文标题与内容
.page-title {
    margin-bottom: 32px!important;
}
// 增强右侧标题导航
.side-bar > .active {
    border-left-width: 2px !important;    
}
.side-bar {
    top: 4rem !important;
    right: 10rem !important;
    background-color: var(--background-color) !important;
    border-radius: 0.25rem !important;
    box-shadow: var(--box-shadow) !important;
    border: solid 1px var(--border-color) !important;
    font-size: 14px !important;
}
// 评论卡片
.comments-wrapper {
    background-color var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
    border: solid 1px var(--border-color);
}
// 评论输入框背景色
.vssue-new-comment-input {
    background-color: var(--code-color) !important;
}
// 评论内容背景
.vssue-comment-main {
    background-color: var(--background-color) !important;
}
// 评论页面数量选择框
.vssue-pagination-select {
    border: solid 1px var(--border-color) !important;
}
// 分页阴影
.pagation-list {
    box-shadow: var(--box-shadow) !important;
    border: solid 1px var(--border-color) !important;
    transition: all 0.3s;
}
.pagation-list:hover {
    box-shadow: var(--box-shadow-hover);
}
// 页脚字体颜色
.footer a {
    color: #7f7f7f
}



// hero 文本移动
.hero {
    text-align: left !important;
    padding-left: 15% !important;
    z-index: -1 !important;
}
// 去除 mask 灰色遮罩
.mask::after {
    background: transparent !important;
    opacity : 0 !important;
}



// 暗夜 Metting
.aplayer .aplayer-miniswitcher {
    background-color: var(--background-color) !important;
    border: 1px solid var(--code-color) !important;
}
.aplayer .aplayer-icon {
    background-color: var(--background-color)  !important;
}
.aplayer.aplayer-fixed .aplayer-info {
    border-top: 1px solid var(--border-color) !important;
}
.aplayer.aplayer-fixed .aplayer-body {
    background-color: var(--background-color) !important;
}
.aplayer.aplayer-fixed .aplayer-list {
    border: 1px solid var(--border-color) !important;
    background-color: var(--background-color) !important;
    overflow-y: hidden !important;
}
.aplayer .aplayer-list li {
    border-top: 1px solid var(--border-color) !important;
}
.aplayer .aplayer-list-light {
    border-top: 1px solid var(--border-color) !important;
    background-color: var(--code-color) !important;
}
.aplayer .aplayer-list li:hover {
    background: var(--code-color) !important;
}
.aplayer .aplayer-pic {
        opacity: var(--default-color-7) !important;
}



// 优化阅读
.theme-reco-content h2 {
    font-size: 1.75rem !important;
    margin: 45px 0 0.8rem !important;
    font-weight: 600
}
.theme-reco-content h3 {
    font-size: 1.25rem !important;
    margin: 40px 0 0.6rem !important;
    font-weight: 600 !important;
    padding-top: 3rem !important;
}
.theme-reco-content h4 {
    font-size: 1.25rem !important;
    margin: 35px 0 0.4rem !important;
    font-weight: 400 !important;
}
.theme-reco-content p,ol,ul {
    line-height: 1.6rem !important;
    word-spacing: 0.05rem !important;
}
.theme-reco-content ol,ul {
    padding-left: 1.5rem;
}
.theme-reco-content p {
    margin: 1.2em 0 !important;
}